.fade-enter {
  opacity: 0 !important;
  transition: all 3000ms ease-out;
}
.fade-enter-active {
  opacity: 1 !important;
}
.fade-enter-done {
  opacity: 1 !important;
}
.fade-exit {
  opacity: 1 !important;
  transition: all 3000ms ease-out;
}
.fade-exit-active {
  opacity: 0 !important;
}
.fade-exit-done {
  opacity: 0 !important;
}